### CrowdSec
d-i pkgsel/include string crowdsec crowdsec-firewall-bouncer-nftables
d-i pkgsel/include seen true
crowdsec crowdsec/lapi boolean true
crowdsec crowdsec/lapi seen true
crowdsec crowdsec/capi boolean false
crowdsec crowdsec/capi seen true

### CrowdSec Stable Upstream APT Repo
d-i apt-setup/local18/repository string https://packagecloud.io/crowdsec/crowdsec/any any main
d-i apt-setup/local18/comment string CrowdSec Stable
d-i apt-setup/local18/key string https://packagecloud.io/crowdsec/crowdsec/gpgkey
d-i apt-setup/local18/source boolean false

### CrowdSec Testing Upstream APT Repo
d-i apt-setup/local19/repository string https://packagecloud.io/crowdsec/crowdsec-testing/any any main
d-i apt-setup/local19/comment string CrowdSec Testing
d-i apt-setup/local19/key string https://packagecloud.io/crowdsec/crowdsec-testing/gpgkey
d-i apt-setup/local19/source boolean false
