# Tailscale SSH + Syncthing private-network bootstrap.
d-i pkgsel/include string tailscale syncthing
d-i pkgsel/include seen true

# Tailscale Stable (Debian Trixie)
d-i apt-setup/local14/repository string https://pkgs.tailscale.com/stable/debian trixie main
d-i apt-setup/local14/comment string Tailscale Stable (Debian Trixie)
d-i apt-setup/local14/key string https://pkgs.tailscale.com/stable/debian/trixie.asc
d-i apt-setup/local14/source boolean false

# Tailscale Stable (Debian Forky)
d-i apt-setup/local15/repository string https://pkgs.tailscale.com/stable/debian forky main
d-i apt-setup/local15/comment string Tailscale Stable (Debian Forky)
d-i apt-setup/local15/key string https://pkgs.tailscale.com/stable/debian/forky.asc
d-i apt-setup/local15/source boolean false

# Tailscale Stable (Debian Sid)
d-i apt-setup/local16/repository string https://pkgs.tailscale.com/stable/debian sid main
d-i apt-setup/local16/comment string Tailscale Stable (Debian Sid)
d-i apt-setup/local16/key string https://pkgs.tailscale.com/stable/debian/sid.asc
d-i apt-setup/local16/source boolean false
