##########  Bootloader defaults  ##########
d-i grub-installer/only_debian boolean true
d-i grub-installer/only_debian seen true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/with_other_os seen true
d-i grub-installer/enable_os_prober_otheros_yes boolean false
d-i grub-installer/enable_os_prober_otheros_yes seen true
d-i grub-installer/enable_os_prober_otheros_no boolean false
d-i grub-installer/enable_os_prober_otheros_no seen true
grub2 grub2/enable_os_prober boolean false
grub2 grub2/enable_os_prober seen true
d-i grub-installer/timeout string -1
d-i grub-installer/bootdev string default
d-i grub-installer/bootdev seen true
d-i grub-installer/force-efi-extra-removable boolean false
d-i grub-installer/update-nvram boolean true
d-i grub-installer/skip boolean false

##########  Finish defaults  ##########
d-i debian-installer/exit/reboot boolean true
d-i debian-installer/exit/reboot seen true
d-i debian-installer/exit/halt boolean false
d-i debian-installer/exit/halt seen true
d-i debian-installer/exit/poweroff boolean false
d-i debian-installer/exit/poweroff seen true
d-i finish-install/keep-consoles boolean false
d-i finish-install/keep-consoles seen true
d-i finish-install/reboot_in_progress note
