# amd64 kernel and EFI boot-chain defaults.
d-i base-installer/kernel/linux/initrd boolean true
d-i base-installer/kernel/linux/initrd seen true
#d-i base-installer/kernel/linux/link_in_boot boolean true
d-i base-installer/kernel/linux/initramfs-generators string initramfs-tools
d-i base-installer/kernel/linux/initramfs-generators seen true
d-i base-installer/kernel/linux/initramfs-tools/driver-policy string most
d-i base-installer/kernel/linux/initramfs-tools/driver-policy seen true
d-i base-installer/kernel/linux/initramfs-tools/compression string lz4
d-i base-installer/kernel/linux/initramfs-tools/compression seen true
d-i base-installer/kernel/skip-install boolean true
d-i base-installer/kernel/skip-install seen true
d-i base-installer/kernel/image select none
d-i base-installer/kernel/linux/extra-packages string dkms kmod

d-i pkgsel/include string grub-efi-amd64 grub-efi-amd64-signed shim-signed shim-helpers-amd64-signed initramfs-tools kmod sbsigntool xz-utils fwupd fwupd-amd64-signed busybox
d-i pkgsel/include seen true
