# arm64 kernel and signed EFI boot-chain defaults.
d-i base-installer/kernel/linux/initrd boolean true
d-i base-installer/kernel/linux/initrd seen true
#d-i base-installer/kernel/linux/link_in_boot boolean true
d-i base-installer/kernel/linux/initramfs-generators string initramfs-tools
d-i base-installer/kernel/linux/initramfs-generators seen true
d-i base-installer/kernel/linux/initramfs-tools/driver-policy string dep
d-i base-installer/kernel/linux/initramfs-tools/driver-policy seen true
d-i base-installer/kernel/linux/initramfs-tools/compression string gzip
d-i base-installer/kernel/linux/initramfs-tools/compression seen true
d-i base-installer/kernel/image select linux-image-arm64
d-i base-installer/kernel/linux/extra-packages string linux-headers-arm64 dkms kmod sbsigntool

d-i pkgsel/include string grub-efi-arm64 grub-efi-arm64-signed shim-signed shim-helpers-arm64-signed initramfs-tools linux-image-arm64 linux-headers-arm64 kmod sbsigntool fwupd fwupd-arm64-signed
d-i pkgsel/include seen true
