# Microsoft Visual Studio Code
d-i apt-setup/local4/repository string https://packages.microsoft.com/repos/code stable main
d-i apt-setup/local4/comment string Microsoft Visual Studio Code
d-i apt-setup/local4/key string https://packages.microsoft.com/keys/microsoft.asc
d-i apt-setup/local4/source boolean false

d-i pkgsel/include string code
