# Microsoft Edge
d-i apt-setup/local5/repository string https://packages.microsoft.com/repos/edge stable main
d-i apt-setup/local5/comment string Microsoft Edge
d-i apt-setup/local5/key string https://packages.microsoft.com/keys/microsoft.asc
d-i apt-setup/local5/source boolean false

d-i pkgsel/include string microsoft-edge-stable
