# Microsoft PowerShell
d-i apt-setup/local6/repository string https://packages.microsoft.com/debian/13/prod trixie main
d-i apt-setup/local6/comment string Microsoft PowerShell (Debian 13 Trixie)
d-i apt-setup/local6/key string https://packages.microsoft.com/keys/microsoft-2025.asc
d-i apt-setup/local6/source boolean false

d-i pkgsel/include string powershell
