# Spotify
d-i apt-setup/local9/repository string https://repository.spotify.com stable non-free
d-i apt-setup/local9/comment string Spotify
d-i apt-setup/local9/key string https://download.spotify.com/debian/pubkey_5384CE82BA52C83A.asc
d-i apt-setup/local9/source boolean false

d-i pkgsel/include string spotify-client
