# Vivaldi Browser
d-i apt-setup/local10/repository string https://repo.vivaldi.com/archive/deb stable main
d-i apt-setup/local10/comment string Vivaldi Browser
d-i apt-setup/local10/key string https://repo.vivaldi.com/archive/linux_signing_key.pub
d-i apt-setup/local10/source boolean false

d-i pkgsel/include string vivaldi-stable
