# Site baseline for the primary production environment.
d-i netcfg/get_domain string lan.icramer.com
d-i netcfg/get_domain seen true
d-i netcfg/get_nameservers string 192.168.50.1
d-i netcfg/get_nameservers seen true
