# __INSTALLER_LINK_TYPE__ adapter: __INSTALLER_IFACE__ (__INSTALLER_MAC__); detected during install as __INSTALLER_DETECTED_IFACE__
allow-hotplug __INSTALLER_IFACE__
iface __INSTALLER_IFACE__ inet static
    address __INSTALLER_ADDRESS__
    netmask __INSTALLER_NETMASK__
    gateway __INSTALLER_GATEWAY__
    dns-nameservers __INSTALLER_DNS__
__INSTALLER_SEARCH____INSTALLER_WIFI____INSTALLER_PERFORMANCE__