{
  "apiURL": "__INSTALLER_DEVOPS_OBS_API_URL__",
  "credentialsBackend": "__INSTALLER_DEVOPS_OSC_CREDENTIALS_BACKEND__",
  "project": "__INSTALLER_DEVOPS_OBS_PROJECT__",
  "repository": "__INSTALLER_DEVOPS_OBS_REPOSITORY__",
  "schemaVersion": 1,
  "workspace": "__INSTALLER_DEVOPS_OSC_WORKDIR__"
}
